[*.cs]
##dotnet_diagnostic.SMA8000.severity = silent

# Read-Only Variable Analysis
dotnet_analyzer_diagnostic.category-ImmutableVariable.severity = silent
dotnet_diagnostic.SMA0060.severity = error
dotnet_diagnostic.SMA0061.severity = error
dotnet_diagnostic.SMA0062.severity = error
dotnet_diagnostic.SMA0063.severity = error
dotnet_diagnostic.SMA0064.severity = error
dotnet_diagnostic.SMA0065.severity = error
dotnet_diagnostic.SMA0066.severity = error
dotnet_diagnostic.SMA0067.severity = error
dotnet_diagnostic.SMA0068.severity = error
dotnet_diagnostic.SMA0069.severity = error
