.*
/*
bin
obj

!.github
!assets
!eng
!sandbox
!src
!test
!Unity

!.editorconfig
!.gitignore
!*.props
!*.slnx
!icon-*.png

*.md
!CHANGELOG.md
!README*.md
!LICENSE.md
!RULES.md

!/AGENTS.md
!/CLAUDE.md
